  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
  }
  #main {
    display: flex;
    flex: 1;
  }
  #main > article {
    flex: 1;
    order: 3;
  }
  #main > nav, 
  #main > aside {
    flex: 0 0 20vw;
  }
  #main > nav {
    background: #D7E8D4;
    order: 1;
  }
  #main > aside {
    background: beige;
    order: 2;
  }
  header, footer {
    background: yellowgreen;
    height: 20vh;
  }
  header, footer, article, nav, aside {
    padding: 1em;
  }

.logo {
  width: 100px;
  margin-bottom: 8px;
}

.icon-layout {
  display: flex;
  flex-direction: column;
  /* background-color: lightpink; */
}

.fas {
  margin: 10px;
}