:root {
  --primary-color: #7A3BEA;
  --secondary-color: #9967FF;
  --dark-text: #01AF80;
  --light-text: #f4f4f4;
  --background-text: lightgreen;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
  }
    body {
          background: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: row;
        line-height: 1.6;
    margin: 0;
  }
  .col-1 {
    flex: 1;
  }
  .col-2 {
    display: flex;
    flex-direction: column;
    flex: 5;
  }
  .content {
    display: flex;
    flex-direction: row;
  }
  .content > article {
    flex: 4;
    min-height: 60vh;
  }
  header, footer {

    height: 20vh;
  }
  header, footer, article, nav {
    padding: 1em;
  }


  .logo {
  width: 100px;
  margin-bottom: 8px;
}

.nav-layout {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  padding: 5px;
  border-radius: 5%;
  height: 100%;
}
.header-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  background-color: var(--secondary-color);
  border-radius: 5%;
  height: 100%;
}


.article-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: var(--secondary-color);
  border-radius: 5%;
  height: 100%;
}

.fas, 
.far {
  margin: 5px;
  /* color: var(--primary-color) */
}

h3 {
  color: var(--light-text)
}



.emails-title {
  background-color: var(--dark-text);
  color: var(--light-text);
  font-size: 22px;
  width: 250px;
  margin: auto;
  text-align: center;
  /* margin: 5px; */
  /* padding: 5px; */
}

.table-title {
  background-color: var(--dark-text);
  color: var(--light-text);
  font-size: 22px;
  width: 250px;
  margin: auto;
  text-align: center;
  margin: 20px;
  /* padding: 5px; */
}

table {
  width: 80%;
  text-align: center;
}

table, td, tr {
  border-style: groove;
  background-color: var(--dark-text);
  color: var(--light-text);
}