.modal-box,
.modal-trash-info,
.modal-error  {
    width: auto;
    height: auto;
    position: absolute;
    top: 90px;
    background: $bg-white;
    color: black;
    top: 80px;
    right: 10px;
    padding: 1.5rem;
    border: 8px solid $cl-blue;
    border-radius: 5px;
    // opacity: 0;
    // visibility: hidden;

    h3 {
        line-height: 1.75;
        text-align: center;
    }

    button {
        justify-content: center;
        max-width: 50%;
        align-items: center;
    }

    // .show-modal {
    //     opacity: 1;
    //     visibility: visible;
    // }
}
.modal-error {
    border: 8px solid $cl-red;
}
