.modal-box,
.modal-trash-info  {
    width: auto;
    height: auto;
    position: absolute;
    top: 90px;
    background: $bg-white;
    color: black;
    top: 80px;
    right: 10px;
    padding: 1.5rem;
    border: 8px solid $bg-darkblue;
    border-radius: 5px;

    h3 {
        line-height: 1.75;
        text-align: center;
    }

    button {
        justify-content: center;
        max-width: 50%;
        align-items: center;
    }
}
