table {    
    
    border-collapse: collapse;
    table-layout: fixed;    
    border: none;
    width: 95%;
    margin: 2rem auto;  
   
    th:nth-child(2),
    th:nth-child(4),
    th:nth-child(5),
    td:nth-child(3)  {
     display: none;
    }

    th {
        display: flex; 
        height: 50px;       
    }  


tr {
    display: grid;
    grid-template-columns: minmax(150px, 1fr) auto;
    grid-template-rows: minmax(50px, 1fr) auto;
    grid-template-areas: "first  number"
                         "third third";
    
    padding: 1.3rem 0.9rem;
    background: $bg-white;
    margin: 2rem 0.5rem;
    border-radius: 7px;   
    

    td {
        font-size: 1rem;
        line-height: 2;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
    td:nth-child(1) {
        grid-area: first;
        padding:  1rem;
        border: none;       
    }
    td:nth-child(2) {
        grid-area: number;
        text-align: right;
        padding:  1rem;
        border: none;
        font-size: 1.25rem;
        color: $cl-blue;
        font-weight: bolder;
    }
    td:nth-child(4) {
        grid-area: third;
        grid-column: 1 / 3;
        text-align: center;
        border: none;
        padding-top: 1.15rem;
        border-top: 3px solid $cl-blue;
    }
}
tr:nth-child(1) {
    border: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px;
    text-align: center; 
    font-weight: bolder;
    padding-left: 2rem;
    letter-spacing: 1px;

    th {
        border: none;
        text-align: left;
        height: 50px;
    }
    th:nth-child(4) {
        display: none;
    }
    th:nth-child(1) {
        justify-content: flex-start;
    }

    th:nth-child(3) {
        justify-content: flex-end;
    }
   
}

.sortTriangle {
    color: blue;
    cursor: pointer;
  }

@media screen and (min-width: $max-sm) {
    tr {
        grid-template-columns: 450px auto;
        grid-template-rows: 120px auto;
    } 
    tr:nth-child(1)  {
        grid-template-columns: repeat(2, 1fr);
    }
 
}

@media screen and (min-width: $min-md)  {
    tr {
        grid-template-columns: 1.5fr 0.4fr 1.1fr;
        grid-template-rows: auto;
        grid-template-areas: "first number third";
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
        td {
            line-height: 1.5;
        }
       
        td:nth-child(4)  {
            grid-area: third;
            grid-column:  3 / 4;
            border: none;
        }        
    }
    th:nth-child(5) {
        display: flex;
        justify-content: center;
        color: $cl-red;
    }

    tr:nth-child(1) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 50px;
        text-align: center;       
       
        th {
            border: none;
            height: 50px;
            line-height: 50px;
        }     
    }   
}
}

#selectiveTbl{
    tr:nth-child(1) {
        th:nth-child(3) {
            display: none;
        }
        th:nth-child(2) {
            display: flex;
            justify-content: flex-end;
        }
    
        @media screen and (min-width: $min-md) {
        
            th:nth-child(4) {
                display: none;
            }
            th:nth-child(4) {
                display: flex;
                justify-content: center;
                color: $cl-red;
            }
        }        
    }   
    .btn-selective {
        display: none;
    }
    .btn-all {
        width: 50%;
    }
}
