.header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    background-color:rgb(241, 227, 227);

    .logo {
      height:7em;
      width: 7em;
      margin-left: 1em;
      padding-bottom: 0.5em;
    }

    .user{
      
    }

    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right: 2em;

      .option {
        padding: 15px 15px;
        cursor: pointer;
      }
    }
  }