// Guitarhub786
// UTILITIES SCSS

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

$font-stack: 'Open Sans', sans-serif;
$primary-background: #fff;
$primary-color: #333;


.text-primary {
    color: #28a745;
}

.text-secondary {
    color: #0284d0;
}

/* Button */
.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.9;
}

.btn-primary, .bg-primary {
   background: #28a745;
   color: #fff;
}
.btn-secondary, .bg-secondary {
   background: #0284d0;
   color: #fff;
}
.btn-dark, .bg-dark {
   background: #333;
   color: #fff;
}
.btn-light, .bg-light {
   background: #f4f4f4;
   color: #333;
}

.btn-outline {
    background: transparent;
    border: 1px solid #fff;
}

/* Flex items */
.flex-items {
  display: flex;
  // justify-content: center;
  text-align: center;
  height: 100%;
}

.flex-items {
  padding: 20px;
}