// Guitarhub786

// UTILITIES SCSS
$font-stack: 'Poppins', sans-serif;
$primary-background: #fff;
$primary-color: #333;
$navbar-text-color: #333;
$text-primary: #28a745;
$text-secondary: #0284d0;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');



.text-primary {
    color: $text-primary;
}

.text-secondary {
    color: $text-secondary;
}

/* Button */
.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.9;
}

.btn-primary, .bg-primary {
   background: #28a745;
   color: #fff;
}
.btn-secondary, .bg-secondary {
   background: #0284d0;
   color: #fff;
}
.btn-dark, .bg-dark {
   background: #333;
   color: #fff;
}
.btn-light, .bg-light {
   background: #f4f4f4;
   color: #333;
}

.btn-outline {
    background: transparent;
    border: 1px solid #fff;
}




// /* colors */
$bg-blue: rgb(0, 183, 255);

/* fonts */ 

/* paddings and margins * / 

/* borders */

/* media */
$max-xs: 575.99px;

$min-sm: 576px;
$max-sm: 767.99px;

$min-md: 768px;

$min-lg: 960px;

$min-xl: 1200px;

$min-xxl: 1500px;