/* colors */
$bg-blue: rgb(0, 183, 255);

/* fonts */ 

/* paddings and margins * / 

/* borders */

/* media */
$max-xs: 575.99px;

$min-sm: 576px;
$max-sm: 767.99px;

$min-md: 768px;

$min-lg: 960px;

$min-xl: 1200px;

$min-xxl: 1500px;