/* colors */
$bg-white: #f8f8ff;
$bg-grey: #f4f4f4;
$bg-darkblue: #031a42;

$cl-blue: rgb(41, 115, 244);
$light-green: #86e29b;
$cl-red: rgb(254, 72, 95);
$cl-yellow: rgb(245, 186, 40);
$cl-green: #28a745;


/* fonts */ 
$font-stack: 'Open Sans', sans-serif;

/* paddings and margins * / 

/* borders */

/* media */
$max-xs: 575.99px;

$min-sm: 576px;
$max-sm: 767.99px;

$min-md: 768px;

$min-lg: 960px;

$min-xl: 1200px;

$min-xxl: 1500px;